* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.left-panel {
    width: 50%;
    background: url('/assets/image/burgers.jpeg') center center / cover no-repeat;
    position: relative;
}

.left-panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.logo {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo h1 {
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
}

.logo p {
    letter-spacing: 3px;
    margin-top: 10px;
}

/* RIGHT SIDE */
.right-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.login-box {
    width: 70%;
    max-width: 400px;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.welcome {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

label {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.captcha {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-btn {
    width: 100%;
    background-color: #e6a23c;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #f5b748;
}

.forgot {
    display: inline-block;
    margin-top: 10px;
    color: #c69026;
    text-decoration: none;
    font-size: 14px;
    float: right;
}

.error-msg {
    color: #c0392b;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}


.social-login {
    text-align: center;
    margin-top: 25px;
}

.social-login p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}

.google-btn,
.facebook-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-weight: 500;
}

.google-btn img,
.facebook-btn img {
    width: 20px;
    height: 20px;
}

.google-btn {
    background-color: #db4437;
}

.google-btn:hover {
    background-color: #e95a4a;
}

.facebook-btn {
    background-color: #3b5998;
}

.facebook-btn:hover {
    background-color: #4c70ba;
}
